
*{
	margin: 0;
	padding: 0;
	font-family: 'Hind', sans-serif;
	color: black;
}

.header{
	width: 100%;
	height: 100vh;
	background-image: url('https://media.istockphoto.com/photos/hispanic-woman-smiling-during-support-group-therapy-meeting-picture-id1049086992?b=1&k=20&m=1049086992&s=170667a&w=0&h=Sa-aMYPuEEWFgS_Gn8OtCGiGT2fTK7leDmq072GMg54=');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

.navbar{
	margin: 0px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2% 6%;
}

.logo{
	width: 10%;
}
.navbar ul li{
	list-style-type: none;
	display: inline-block;
	margin: 0px 20px;

}

.links{
	flex: 1;
	text-align: right;
}

.links ul li{
	list-style-type: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.links ul li a{
	text-decoration: none;
	color: black;

}

.links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: deeppink;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.links ul li:hover::after{
	width: 100%;
	cursor: pointer;
}

.fas::before{
    font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
	content: "\f07a";
	font-size: 20px;
}

.content{
		margin-top: 0.5%;
		width: 100%;
}

.content .text{
	font-size: 60px;/
}

.content .shop-btn{
		background: black;
		color: white;
		font-weight: 400;
		text-decoration: none;
		border-radius: 6px;
		height: 30px;
		display: inline-block;
		border: 1px solid black;
		padding: 5px 10px;
		font-size: 15px;
	  	position: absolute;
	 	cursor: pointer;
	 	margin-left: 5%;
}
.content .shop-btn:hover{
	border-color:white;
	cursor: pointer;
}

.features{
	width: 90%;
	margin: auto;
	align-items: center;
	text-align: center;
	padding-top: 100px;
	padding-left: 10px;
}

.features h1{
	margin-top: 1%;
	font-size: 50px;
	background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.features .feature{
    display: flex;
    flex-direction: row;
    padding-top: 3.42857rem;
    max-width: 1480px;
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 32px;
    padding-left: 32px;
    background: white;
	border: 2px solid deeppink;
	margin-bottom: 4%;
}

.features .feature:hover{
	box-shadow: 0 0 11px deeppink;
	cursor: pointer;	
}


.features .feature .feature-content{
	font-size: 20px;
	color: black;
	width: 50%;
	flex-basis: 50%;
	margin-left: 5%;
	text-align: left;
}
.features .feature .feature-img{
	flex-basis: 50%;
	margin: auto;
}
.feature-img img{
	width: 70%;
	height: 40%;
}

.disc{
	margin-top: 10%;
	margin-bottom: 5%;
	width: 100%;
	height: 200px;
	background: -webkit-linear-gradient(left, #a445b2, #fa4299);
	color: black;
	margin: auto;
	align-items: center;
	text-align: center;
	padding-top: 10px;
	
}

.disc h1{
	font-size: 50px;
}

.disc p{
	font-size: 30px;
	color: black;
}
.row{
	width: 100%;
	margin-top: 2%;
	display: flex;
	justify-content: space-between;
}

.feature-col{
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;

}

.feature-col img{
	width: 100%;
}

.locations h1{
	text-align: center;
	margin-top: 3%;
	font-size: 50px;
	background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.locations p{
	text-align: center;
	font-size: 30px;
}

.feature-col:hover{
	box-shadow: 0 0 11px deeppink;
	cursor: pointer;
}

.feature-col p{
	font-size: 20px;
}
.feature-col h3{
	text-align: center;
	color: deeppink;
}

#button-addon1 {
  color: #ffc371;
}

footer{
	border: 1px solid deeppink;
}

i{
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.text-uppercase{
	color: deeppink;
}